html, body {
    line-height: 1.5;
    font-weight: 100;
    color: white;
    text-align: center;
}

h2 {
    font-size: 40px;
}

h5{
    font-size: 35px;
}

.welcome-ctr {
    position: absolute;
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(bottom, #8914d3, #00d6fe, #8914d3);
    background: linear-gradient(0deg, #8914d3, #00d6fe, #8914d3);
   /* animation: bg-animation 12s linear infinite;*/
    -webkit-backface-visibility: hidden;
    background-size: 600% 600%;
}

.name-field {
    margin-top: 150px;
    height: 400px;
    border-radius: 5px;
}

@keyframes bg-animation {
    0% {
        background-position: 0 97%
    }
    50% {
        background-position: 100% 4%
    }
    to {
        background-position: 0 97%
    }
}

.name-col {
    margin-top: 105px;
}

.submit-button {
    margin-top: 25px;
    background: blueviolet;
    border-radius: 15px;
}

.submit-button:hover {
    background: #8914D3;
}

#last_name:focus {
    border-bottom: 1px solid white;
    -webkit-box-shadow: 0 1px 0 0 white;
    box-shadow: 0 1px 0 0 white;
}

#last_name {
    border-bottom: 1px solid white;
}

#name-field {
    color: white;
}

.top-panel {
    margin-top: 150px;
    height: 60px;
    border-radius: 5px;
}

.left-panel,.right-panel {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 460px;
}
