<div class="welcome-ctr">
    <div class="container">
        <div class="row">
                <div class="col s12 z-depth-5 top-panel"><h5>Chat Hub</h5></div>
                <div class="col s12 m4 l3 z-depth-5 left-panel">
                </div>
                <div class="col s12 m8 l9 z-depth-5 right-panel">
                </div>
        </div>
    </div>
</div>