<div class="welcome-ctr">
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2 z-depth-5 name-field">
               <!-- <h2>Welcome</h2>-->
                <form class="col s12 name-col">
                    <div class="input-field col s8 offset-s2">
                        <input ng-model="userName" id="last_name" type="text" class="validate field-name">
                        <label id="name-field" for="last_name">Name</label>
                    </div>
                </form>
                <button ng-click="submit()" class="btn waves-effect waves-light submit-button" type="submit"
                        name="action">Enter ChatRoom
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>
</div>
